.button {
  font: inherit;
  border: 1px solid #02010a;
  background: #140266;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #270d9b;
  border-color: #270d9b;
}

.button:focus {
  outline: none;
}
